#external{
	color: yellow;
}

p{
	font-family: sans-serif;
}

h1{
	font-family: sans-serif;
	font-size: 50px;
}

h2{

	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 15px;
}

h3{
	font-family: sans-serif;
	font-size: 15px;
}

.languages{
		font-family: sans-serif;
		background-color: lightgreen;

}

li[tools] {
	font-family: sans-serif;
	border-color: blue;
	border-style: solid;
	width: 90%;
}

#others {
font-family: sans-serif;
font-size: 15px;
letter-spacing: 5px;

}

#last{
	text-align: center;
}